<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Site.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UIJCCA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })           
               <!-- <a href="@Url.Action("Index","Home")" class="navbar-brand">
                    <img src="@Url.Content("~/img/log.png")" />
                </a>   -->            
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Список заявок", "Index", "Home")</li>
                    <li>@Html.ActionLink("Добавить инцидент", "Create", "Incidents")</li>
                    @if (Request.IsAuthenticated && User.IsInRole("admin"))
                    {
                    <li>
                            
                        <div class="dropdown navbar-collapse collapse">
                            <button class="btn btn-secondary dropdown-toggle navbar-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Управление
                            </button>
                            <div class="dropdown-menu navbar-collapse" aria-labelledby="dropdownMenuButton">
                                @Html.ActionLink("Управление ОПС", "EditPostOffice", "Home", new { area = "" }, new { @class = "dropdown-item" })<br />
                                @Html.ActionLink("Управление Почтамт", "Index", "Posts", new { area = "" }, new { @class = "dropdown-item" })<br />
                                @Html.ActionLink("Управление Канал связи", "Index", "ICC", new { area = "" }, new { @class = "dropdown-item" })<br />
                                @Html.ActionLink("Управление Вид услуги", "EditTypesOfService", "Home", new { area = "" }, new { @class = "dropdown-item" })<br />
                                @Html.ActionLink("Управление Тип последней мили", "EditLastMileType", "Home", new { area = "" }, new { @class = "dropdown-item" })<br />
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown navbar-collapse collapse">
                            <button class="btn btn-secondary dropdown-toggle navbar-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Пользователи
                            </button>
                            <div class="dropdown-menu navbar-collapse" aria-labelledby="dropdownMenuButton">
                                @Html.ActionLink("Управление пользователями", "UsersList", "Account", new { area = "" }, new { @class = "dropdown-item" })<br />
                                @Html.ActionLink("Управление ролями", "Index", "Roles", new { area = "" }, new { @class = "dropdown-item" })<br />                                
                            </div>
                        </div>
                    </li>
               }
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – Пикалова Александра</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
