@model DomainModel.Entity.PostOffice

@{
    ViewBag.Title = "Удалить Почтамт";
}

<h2>Удалить Почтамт</h2>

<h3>Вы уверены, что хотите это удалить?</h3>
<div>
    <h4>Почтамты</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Post.post)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.post)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postalCode)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
