@model IEnumerable<DomainModel.Entity.PostOffice>

@{
    ViewBag.Title = "Отделения почтовой связи";
}

<h2>Отделения почтовой связи</h2>

<p>
    @Html.ActionLink("Добавить новое", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Post.post)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postalCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Post.post)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postalCode)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.postOffice }) |
            @Html.ActionLink("Детально", "Details", new { id=item.postOffice }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.postOffice })
        </td>
    </tr>
}

</table>
