@model DomainModel.Entity.Incidents

@{
    ViewBag.Title = "Удалить инцидент";
}

<h2>Удалить инцидент</h2>

<h3>Вы уверены, что хотите это удалить?</h3>
<div>
    <h4>Инциденты</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ICC.idtypeOfService)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ICC.idtypeOfService)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.incidentOpening)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.incidentOpening)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentClose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentClose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.incidentNumberIteko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.incidentNumberIteko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.incidentNumberRT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.incidentNumberRT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timestamp)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
