@model IEnumerable<DomainModel.Entity.LastMileType>

@{
    ViewBag.Title = "Тип последней мили";
}

<h2>Тип последней мили</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.lastMileType)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.lastMileType)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.lastMileType }) |
                    @Html.ActionLink("Детально", "Details", new { id = item.lastMileType }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.lastMileType })
                </td>
            </tr>
        }
    </tbody>
</table>
