@model IEnumerable<DomainModel.Entity.Post>

@{
    ViewBag.Title = "Отделения почтовой связи";
}

<h2>Отделения почтовой связи</h2>

<p>
    @Html.ActionLink("Добавить новое", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.post)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.post)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.post }) |
                    @Html.ActionLink("Details", "Details", new { id = item.post }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.post })
                </td>
            </tr>
        }
    </tbody>

</table>
